<!DOCTYPE html>
<html lang="en">

<head>
    <meta
        charset="UTF-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Add A
        Book</title>

    <link
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css">
    <script
        src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="css/addBookPage.css" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"
        integrity="sha512-Vp2UimVVK8kNOjXqqj/B0Fyo96SDPj9OCSm1vmYSrLYF3mwIOBXh/yRZDVKo8NemQn1GUjjK0vFJuCSCkYai/A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            $('#addBookForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    id: {
                        validators: {
                            notEmpty: {
                                message: 'The ID is required and cannot be empty'
                            }
                        }
                    },
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The Name is required and cannot be empty'
                            }
                        }
                    },
                    author: {
                        validators: {
                            notEmpty: {
                                message: 'The Author is required'
                            }
                        }
                    },
                    publisher: {
                        validators: {
                            notEmpty: {
                                message: 'The Publisher is required'
                            }
                        }
                    },
                    description: {
                        validators: {
                            notEmpty: {
                                message: 'The Description is required'
                            }
                        }
                    }
                },
                submitHandler: function (validator, form, submitButton) {
                    var fullName = [validator.getFieldElements('firstName').val(),
                    validator.getFieldElements('lastName').val()].join(' ');
                    alert('Hello ' + fullName);
                }
            });
            //get all the input types and do the validation
            // and prevent default in submit and submit from here after data validation

            var txtName = $("txtName");
        });
    </script>
</head>

<body>

    <div
        class="container contact-form">
        <div
            class="contact-image">
            <img src="https://pngimg.com/uploads/book/book_PNG51041.png"
                alt="rocket_contact" />
        </div>
        <form
            method="post"
            id="addBookForm"
            action="/addBookCheck">
            <input
                class="inputID"
                value=<%=userId%>
            type="hidden"
            name="userId">
            <input
                class="inputIsAdmin"
                value=<%=isAdmin%>
            type="hidden"
            name="isAdmin">

            <h4
                id="errorH2">
                <% if(locals.error)
                    {
                    %>
                    <div class="alert alert-danger"
                        role="alert">
                        <%= error
                            %>
                    </div>
                    <% }
                        %>

            </h4>
            <div
                class="row">
                <div
                    class="col-md-6">
                    <div
                        class="form-group">
                        <input
                            id="txtName"
                            type="text"
                            name="name"
                            class="form-control"
                            placeholder="Book Name *"
                            value="" />
                    </div>
                    <div
                        class="form-group">
                        <input
                            id="txtId"
                            type="text"
                            name="id"
                            class="form-control"
                            placeholder="Book ID *"
                            value="" />
                    </div>
                    <div
                        class="form-group">
                        <input
                            id="txtAuthor"
                            type="text"
                            name="author"
                            class="form-control"
                            placeholder="Book Author *"
                            value="" />
                    </div>
                    <div
                        class="form-group">
                        <input
                            id="btnSubmit"
                            type="submit"
                            name="btnSubmit"
                            class="btnContact"
                            value="Add Book" />
                    </div>
                </div>
                <div
                    class="col-md-6">
                    <div
                        class="form-group">
                        <select
                            class="form-control"
                            id="txtNumBooks"
                            name="NumBooks">
                            <option
                                value="1">
                                Select
                                Number
                                of
                                Books
                            </option>
                            <option
                                value="1">
                                1
                            </option>
                            <option
                                value="2">
                                2
                            </option>
                            <option
                                value="3">
                                3
                            </option>
                            <option
                                value="4">
                                4
                            </option>
                            <option
                                value="5">
                                5
                            </option>
                        </select>
                    </div>


                    <div
                        class="form-group">
                        <input
                            id="txtPublisher"
                            type="text"
                            name="publisher"
                            class="form-control"
                            placeholder="Book Publisher *"
                            value="" />
                    </div>
                    <div
                        class="form-group">
                        <textarea
                            id="txtDescp"
                            name="description"
                            class="form-control"
                            placeholder="Book Description *"
                            style="width: 100%; height: 90px;"></textarea>
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>

</html>