<!DOCTYPE html>
<html lang="en">

<head>
    <meta
        charset="UTF-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Add A
        Book</title>

    <link
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css">
    <script
        src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
        rel="stylesheet"
        type="text/css"
        href="css/addUserPage.css" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"
        integrity="sha512-Vp2UimVVK8kNOjXqqj/B0Fyo96SDPj9OCSm1vmYSrLYF3mwIOBXh/yRZDVKo8NemQn1GUjjK0vFJuCSCkYai/A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            $('#addUserForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    id: {
                        validators: {
                            notEmpty: {
                                message: 'The ID is required and cannot be empty'
                            }
                        }
                    },
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The Name is required and cannot be empty'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The Password is required'
                            }, identical: {
                                field: 'confirmPassword',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    },
                    confirmPassword: {
                        validators: {
                            notEmpty: {
                                message: 'The Confirm Password is required'
                            }, identical: {
                                field: 'password',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    },

                },
                submitHandler: function (validator, form, submitButton) {
                    var fullName = [validator.getFieldElements('firstName').val(),
                    validator.getFieldElements('lastName').val()].join(' ');
                    alert('Hello ' + fullName);
                }
            });
            //get all the input types and do the validation
            // and prevent default in submit and submit from here after data validation

            var txtName = $("txtName");
        });
    </script>
</head>

<body>

    <div
        class="container contact-form">
        <div
            class="contact-image">
            <img src="https://www.pngkit.com/png/full/126-1269287_studenticon-student-icon-blue-png.png"
                alt="rocket_contact" />
        </div>
        <form
            method="post"
            id="addUserForm"
            action="">
            <input
                class="inputID"
                value=<%=userId%>
            type="hidden"
            name="userId">
            <input
                class="inputIsAdmin"
                value=<%=isAdmin%>
            type="hidden"
            name="isAdmin">

            <h4
                id="errorH2">
                <% if(locals.error)
                    {
                    %>
                    <div class="alert alert-danger"
                        role="alert">
                        <%= error
                            %>
                    </div>
                    <% }
                        %>

            </h4>
            <div
                class="row">
                <div
                    class="col-md-6">
                    <div
                        class="form-group">
                        <input
                            id="txtName"
                            type="text"
                            name="name"
                            class="form-control"
                            placeholder="User Name *"
                            value="" />
                    </div>
                    <div
                        class="form-group">
                        <input
                            id="txtId"
                            type="text"
                            name="id"
                            class="form-control"
                            placeholder="User ID *"
                            value="" />
                    </div>

                    <div
                        class="form-group">
                        <input
                            id="btnSubmit"
                            type="submit"
                            name="btnSubmit"
                            class="btnContact"
                            value="Add Book" />
                    </div>
                </div>
                <div
                    class="col-md-6">
                    <div
                        class="form-check radioBtn">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="isAdmin"
                            value="true"
                            checked>
                        <label
                            class="form-check-label"
                            for="exampleRadios1">
                            New
                            User
                            WILL
                            NOT
                            be
                            Admin
                        </label>
                    </div>
                    <div
                        class="form-check radioBtn">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="isAdmin"
                            value="false">
                        <label
                            class="form-check-label"
                            for="exampleRadios2">
                            New
                            User
                            WILL
                            be
                            Admin
                        </label>
                    </div>




                    <div class="form-group"
                        style="margin-top: 0.5rem;">
                        <input
                            id="txtPassword"
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Password *"
                            value="" />
                    </div>
                    <div class="form-group"
                        style="margin-top: 0.5rem;">
                        <input
                            id="txtConfirmPassword"
                            type="password"
                            name="confirmPassword"
                            class="form-control"
                            placeholder="Confirm Password *"
                            value="" />
                    </div>

                </div>
            </div>
        </form>
    </div>
</body>

</html>