<!DOCTYPE html>
<html lang="en">

<head>
    <meta
        charset="UTF-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Document
    </title>

    <script
        src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#BtnAllUsers").hide();
            $("#BtnIssueBook").hide();


            var userId = "<%-userId%>";
            var isAdmin = "<%-isAdmin%>";
            console.log($(".inputID")[0].value);


            if (isAdmin) {
                $("#BtnAllUsers").show();
                $("#BtnIssueBook").show();
            } else {

            }

        });
    </script>
</head>

<body>
    <div
        id="menuDiv">
        
        <form
            action="/allBooks">
            <input
                class="inputID"
                value=<%=userId%>
            type="hidden"
            name="userName">
            <input
                type="submit"
                value="All Books">
        </form>
        <form
            action="/allUsers">
            <input
                type="submit"
                value="All Users"
                id="BtnAllUsers">
        </form>
        <form
            action="">
            <input
                type="submit"
                id="BtnIssueBook"
                value="Issue a book">
        </form>
        <form
            action="">
            <input
                type="submit"
                value="Request a book issue"
                id="BtnReqBook">
        </form>

    </div>
    <h1>Home Page.
        user id =
        <%= userId
            %>
    </h1>
</body>



</html>